main.app {
    display: grid;
    grid-template-rows: 32px 1fr;
    height: 100%;
}

#topbar {
    width: 100%;
    height: 32px;
    border-bottom: solid 1px var(--border-main);
}

#content {
    width: 100%;
    height: 100%;
}
